name: Docker Build for PR

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

on:
  pull_request:
    branches: [ "main" ]

env:
  TEST_FULL_IMAGE_NAME: local/kapoeira:test

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      # This is used to complete the identity challenge
      # with sigstore/fulcio when running outside of PRs.
      id-token: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      # Set up BuildKit Docker container builder to be able to build
      # multi-platform images and export cache
      # https://github.com/docker/build-push-action
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0

      # Build locally Docker image with Buildx
      # https://github.com/docker/build-push-action
      - name: Docker build with unit tests
        id: build-and-test
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          context: .
          load: true
          tags: ${{ env.TEST_FULL_IMAGE_NAME }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Launch Kafka environment
        run: |
          docker compose up -d

      - name: Run integration tests
        run: |
          docker compose run --rm --name kapoeira-it kapoeira

      - name: Stop Kafka environment
        run: |
          docker compose down

